body   { background-color:dddddd; font-family:Verdana; font-size:10; }

a img  { border-width: 0; }

a.hidelink:link    { text-decoration:none; color:darkblue; }
a.hidelink:visited { text-decoration:none; color:darkblue; }
a.hidelink:hover   { text-decoration:underline; color:darkblue; }

h1     { font-weight:bold; font-size:14; color:darkblue; }
h2     { font-weight:bold; font-size:12; color:black; }
h3     { font-weight:normal; font-size:12; }
h4     { font-weight:normal; font-size:10; color:black; }
h5     { font-weight:normal; font-size:8; color:gray; }
h6     { font-family:Arial; font-weight:normal; font-size:12; color:black; }

#logo     { position:absolute;
            left:30px; top:20px;
            height:67px; width:140px; }

#title    { position:absolute;
            left:200px; top:20px;
            height:120px; width:560px;
            overflow:hidden; }

#menu     { position:absolute;
            left:20px; top:120px;
            height:150px; width:170px;
            clip:rect(0px,170px,1000px,0px); }

#body     { position:absolute;
            left:200px; top:120px;
            width:760px; padding:10px 20px;
            border-top:groove; border-left:groove;
            z-index:2; }

#col-left { position:absolute;
            left:10px; top:10px;
            width:50%; }

#col-right { position:absolute;
            left:50%; top:10px;
            width:50%; }

caption   { font-weight:bold; font-size:14; color:darkblue; }
th        { background-color:powderblue; font-weight:bold; font-size:12; color:black; }
td        { font-weight:normal; font-size:12; color:black; }

span.sort      { font-family:"Wingdings 3"; font-size:10; color:gray; }
span.hilite    { color:red; }
